@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Martel:wght@200;300;400;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/backgrnd.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.70;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 72px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.main .centre_head {
    font-family: 'martel sans', sans-serif;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    gap: 21px;

}

.centre_head> :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


.centre_head> :nth-child(2) {
    font-size: 48px;
    font-weight: bolder;
}

.centre_head> :nth-child(3) {
    font-size: 20px;
    font-weight: 600;
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
}

.btn-down {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.btn-lang {
    padding: 2px;
    background-color: rgba(60, 56, 56, 0.2);
    color: rgb(170, 165, 165);
}

.main input {
    padding: 3px 24px;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
}

.btn-up {
    background-color: red;
    color: white;
    padding: 2px;
}

.main .first {
    padding: 20px 150px;
    /* height: 100%; */
    display: flex;
    align-items: center;
    /* justify-content: center;  */
    /* position: relative; */
    gap: 50px;
}

.first span {
    position: relative;
}

.first span h2 {
    position: absolute;
    left: -20px;
    /* kyunki thora bahar ki trf h */
    bottom: 9px;
    /* neeche h */
    font-size: 110px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 2px rgb(203, 203, 203);
}

.img {
    border-radius: 6px;
}

.main .second {
    padding: 10px 150px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.box_2 {
    height: 280px;
    width: 310px;
    position: relative;
    background-color: rgb(27, 30, 60);
    border-radius: 10px;
}

.box_2 h2 {
    padding: 25px 10px 10px 25px;
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255);
}

.box_2 p {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
}
.box_2 img{
position: absolute;
bottom: 18px;
right: 20px;
height: 70px;
width: 70px;
}

.main .third {
    padding: 10px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.faq_box {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(50, 49, 49);
}
.faq_box .plus{
   font-size: 65px;
   color: white;
   padding-right: 20px;
}

.faq_box h2 {
    color: white;
    font-size: 24px;
    font-weight: 400;
    padding: 30px 15px;
}